/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(../Images/Nequi-2-1.webp);
    background-size: contain; /* Ajusta el tamaño del logo */
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    max-width: 400px;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo translúcido */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

/* Encabezado */
h1, h2, h3 {
    color: #4A148C;
}

/* Botones */
button, .btn {
    background-color: #E91E63;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover, .btn:hover {
    background-color: #C2185B;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Campos de formulario */
input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Links */
a {
    color: #E91E63;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
    font-size: 14px;
    color: #888;
}
/* Estilo del logo */
.logo-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    max-width: 200px;  /* Ajusta el tamaño del logo */
    height: auto;
}
